<div class="top_page_image">
    <%= image_tag("bathroom.jpg", class: "wide_image" ) %>
    <%= image_tag("bathroom_text.png", class: "room_text") %>
</div>
<br />

<div id="bathroom_poem">
<p>
MY BATHROOM IS QUITE A SIGHT,<br /><br />

HALF WHITE AND HALF FLORAL DELIGHT,<br /><br />

THE HOLES IN THE WALLS MAY BE A BUMMER,<br /><br />

BUT WITH A BIT OF SPACKLE, THEY&apos;LL BE NO MORE A HUMMER.<br /><br />
</p>
</div>
<br />
<div class="two_image">
    <div id="plant_facts">
    <p>
        Since plants<br />
        need a lot of<br />
        water, and<br />
        many of them<br />
        also love<br />
        humidity, the<br />
        bathroom is<br />
        actually the<br />
        perfect place<br />
        to house them.<br />
        </p>
    </div>
    <div class="right_image">
        <%= image_tag("bathroom_plant.jpg", style: "max-width: 61vw;") %>
    </div>
</div>
<br />
<div class="wide_image">
    <%= image_tag("half_black.jpg", style: "width: 100vw") %>
</div>
<br />
<div class="two_image">
    <%= image_tag("ceiling_light.jpg", style: "max-width: 60vw;") %>
    <div class="single_word">
        <p>I had never seen such a pretty bathroom. Scuplted flowers on the wall were oversized. Light dainty touches were found in every corner. Scented exotic toilet paper had a lemon fragrance. The air smelled like cinnamon, and I could breathe in here.
        </p>
        <p style="font-weight: bold;">
        - PINKFAERIES,
        </p>
        <p style="font-style: italic;">
        ALLPOETRY.COM
        </p>
    </div>
</div>
<br />
<div class="two_image">
    <div class="single_word">
        <p style="text-align: right">
            Some<br />
            shower<br />
            heads<br />
            suck.<br />
            While<br />
            most<br />
            shower<br />
            heads<br />
            have<br />
            water<br />
            flow<br />
            from 2<br />
            to 2.5<br />
            gallons<br />
            per<br />
            minute,<br />
            many<br />
            others<br />
            are less<br />
            from the<br />
            factory.
        </p>
    </div>
    <%= image_tag("showerhead.jpg", style: "max-width: 60vw;") %>
</div>
<br />

<div>
    <%= link_to pages_second_hall_path do %>
        <%= image_tag("return.png", class: "return_link") %>
    <% end %>
</div>