<div class="top_page_image">
    <%= image_tag("bedroom.jpg", class: "wide_image" ) %>
    <%= image_tag("bedroom_text.png", class: "room_text") %>
</div>

<div id="bedroom_facts">
    <p>
        The average American will spend 36 years in bed over the course of their lifetime, according to new research.
    </p>
    <p>
        This jaw-dropping new statistic emerged in a new study of 2,000 Americans which aimed, among other things, to reveal just how long we spend lying on our beds.
    </p>
    <p>
        When adding up how long we sleep (seven hours) and how long we're awake just relaxing and watching TV (four hours) every day, the average American was revealed to spend 11 hours a day lying on their bed - that's nearly half of our lifetime.
    </p>
    <p>
        Lord, how I envy them.
    </p>
</div>

<div class="two_image">
    <%= image_tag"pillows.jpg" %>
    <%= image_tag"hats.jpg" %>
</div>

<div>
    <%= image_tag("cup_plant.jpg", class: "wide_image") %>
</div>

<div>
    <%= image_tag("belts.jpg", class: "wide_image") %>
</div>

<div>
    <%= link_to pages_first_hall_path do %>
        <%= image_tag("return.png", class: "return_link") %>
    <% end %>
</div>