<div>
    <div class="wide-wrapper">
        <%= image_tag "ee1.png" %>
        <%= image_tag "ee2.png" %>
        <%= image_tag "ee3.png" %>
        <%= image_tag "ee4.png" %>
        <%= image_tag "ee5.png" %>
        <%= image_tag "ee6.png" %>
        <%= image_tag "ee7.png" %>
        <%= image_tag "ee8.png" %>
        <%= image_tag "ee9.png" %>
    </div>
</div>