<%= image_tag("first_hallway_reverse.png", id: "first_hall_reverse_bg") %>
<div class="link_overlay">
    <%= link_to pages_kitchen_path do %>
        <%= image_tag "kitchen_left.png", class: "left_link" %>
    <% end %>
    <%= link_to pages_first_hall_path do %>
        <%= image_tag "reverse_arrow.png", class: "center_link" %>
    <% end %>
    <%= link_to pages_bedroom_path do %>
        <%= image_tag "bedroom_right.png", class: "right_link" %>
    <% end %>        
</div>