<div class="top_page_image">
    <%= image_tag("kitchen.jpg", class: "wide_image" ) %>
    <%= image_tag("kitchen_text.png", class: "room_text") %>
</div>
<br />
<div class="two_image">
    <%= image_tag"toaster.jpg" %>
    <%= image_tag"lemon_plate.jpg" %>
</div>

<div class="two_image">
    <%= image_tag("cutting_board.jpg", style: "max-width: 50vw") %>
    <div id="poem">
        <p>
            Diswasher running <br />
            <br />
            Crumbs on a dark wood <br />
            table <br />
            <br />
            Mingled with salt grains <br />
            <br />
            CALVIN OLSEN
        </p>
    </div>
</div>

<div class="wide_image">
    <%= image_tag("spatula.jpg") %>
</div>

<div class="two_image">
    <%= image_tag("dirty_pan.jpg") %>
    <%= image_tag("meal.jpg") %>
</div>

<div class="wide_image">
    <%= image_tag("plateware.jpg") %>
</div>

<div>
    <%= link_to pages_first_hall_path do %>
        <%= image_tag("return.png", class: "return_link") %>
    <% end %>
</div>