<div class="top_page_image">
    <%= image_tag("living_room.jpg", class: "wide_image" ) %>
    <%= image_tag("living_room_text.png", class: "room_text") %>
</div>
<br />
<div class="two_image">
    <%= image_tag("succulent.jpg", style: "max-width: 67vw") %>
    <div class="single_word">
        <p>
            GROW
        </p>
    </div>
</div>
<br />
<div class="two_image">
    <div class="single_word">
        <p>
            SIP
        </p>
    </div>
    <%= image_tag("teacup.jpg", style: "max-width: 67vw") %>
</div>
<br />
<div class="two_image">
    <%= image_tag("n64.jpg", style: "max-width: 67vw") %>
    <div class="single_word">
        <p>
            PLAY
        </p>
    </div>
</div>
<br />
<div class="two_image">
    <div class="single_word">
        <p>
            WORK
        </p>
    </div>
    <%= image_tag("keyboard.jpg", style: "max-width: 67vw") %>
</div>
<br />
<div class="two_image">
    <%= image_tag("books.jpg", style: "max-width: 67vw") %>
    <div class="single_word">
        <p>
            LEARN
        </p>
    </div>
</div>
<div>
    <%= link_to pages_second_hall_path do %>
        <%= image_tag("return.png", class: "return_link") %>
    <% end %>
</div>