<%= image_tag("second_hallway.png", id: "second_hall_bg") %>
<div class="link_overlay">
    <%= link_to pages_living_room_path do %>
        <%= image_tag "living_room_left.png", class: "left_link" %>
    <% end %>
    <%= link_to pages_second_hall_reverse_path do %>
        <%= image_tag "reverse_arrow.png", class: "center_link" %>
    <% end %>
    <%= link_to pages_bathroom_path do %>
        <%= image_tag "bathroom_right.png", class: "right_link" %>
    <% end %>        
</div>